body {
	  padding: 5px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
}

ul {
  	list-style-type: none;
  	padding-left: 10px;
}

.container {
  	max-width: 400px;
  	background-color: #eeeeee;
  	border: 1px solid black;
}

.header, .tble-content {
  	text-align: center;
}

li {
	  line-height: 200%;
}
#register-button {
	  margin-right: 25px;
}